{
  "extends": "stylelint-config-standard",
  "rules": {
    "declaration-block-no-shorthand-property-overrides": null,
    "declaration-block-no-duplicate-properties": null,
    "font-family-no-missing-generic-family-keyword": null,
    "no-descending-specificity": null
  }
}