.containerBackground {
  background-image: url('../../../../static/headback.png');
  background-position: center center;
  height: 70vh;
  max-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-family: 'MyStardos', cursive;
    font-weight: normal;
    font-size: 4.3rem;
    letter-spacing: 2px;
    padding-bottom: 20px;
    color: white;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #fff;
    padding: 0 0 40px;
    width: 80%;
    margin: 0 auto;
  }

  h2 {
    font-size: 3rem;
    font-family: 'MySylfaen';
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .containerBackground {
    height: 45vh;
  }

  h1 {
    font-size: 3rem !important;
    padding-bottom: 0 !important;
  }

  hr {
    padding-bottom: 20px !important;
  }

  h2 {
    font-size: 2.3rem !important;
  }
}

@media only screen and (max-width: 823px)
  and (orientation: landscape) {
  .containerBackground {
    height: 75vh !important;

    hr {
      width: 60%;
      padding-bottom: 20px !important;
    }
  }

  h1 {
    font-size: 1.7rem !important;
    padding-bottom: 0 !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }
}

//Pixel 2XL 823
//Iphone X 812

//Ipad??

@media only screen and (max-width: 767px)
  and (orientation: landscape) {
  .containerBackground {
    height: 85vh !important;
  }
}

@media (max-width: 767px) {
  .containerBackground {
    height: 50vh;
  }

  h1 {
    font-size: 1.7rem !important;
    padding-bottom: 0 !important;
  }

  hr {
    padding-bottom: 20px !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }
}
